<table class="res">
  <thead>
  <tr>
    <th></th>
    <!-- 日付のヘッダーをシフトの範囲分作成 -->
    <% @shift_range.each do |date| %>
      <th><%= date.strftime("%m/%d") %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <!-- 時間の行を30分ごとに作成 -->
  <% @shift_is_free.length.times do |half_hour| %>
    <tr>
      <!-- 時間のセル -->
      <% time = Time.new(2024, 1, 1, half_hour / 2, (half_hour % 2) * 30) %>
      <th><%= time.strftime("%H:%M") %></th>
      <!-- 日付ごとのセル -->
      <% @shift_range.each_with_index do |date, day| %>
        <td>
          <% if @shift_is_free[half_hour][day][:is_free] %>
            <% shift = @shift_is_free[half_hour][day][:shift] %>
            <%= form.check_box :date_time, { multiple: true }, { value: shift.date_time } %>
          <% else %>
            x
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>