<% @page_title = "美容院一覧" %>
<h1><%= @page_title %></h1>

<%= render "shared/salon_form" %>

<% if @salons.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>美容院名</th>
        <th>お気に入りにされた数</th>
      </tr>
    </thead>
    <tbody>
      <% @salons.each do |salon| %>
        <tr>
          <td><%= link_to salon.name, salon %></td>
          <td>⭐️<%= salon.votes.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
